{% extends 'perevodp/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} 
    <title> {{a_z_list.name}} — Исполнители и музыканты на букву {{a_z_list.name}} </title>
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px !important;">
    <div class="row">
        <div class="col lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination flex-wrap p-3">
                    {% for object in request.get_catgor %}
                        <li class="page-item p-1"><a class="page-link" style="color: #5c00ce;" href="{% url 'get_categor' object.id %}">{{object.name}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<h4 class="text-center p-4">{{a_z_list.name}} — Исполнители и музыканты на букву {{a_z_list.name}}</h4>

<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {% for item in objects_list %}
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="{{item.img.url}}" alt="">
                                </div>
                                <div class="blog__item__text">
                                    <a class="item-link" style="color: #5c00ce;" href="{% url 'author_pesni' item.id %}">{{item.name}}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-lg-12">
                        <div class="pagination__links blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}